html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#db_select {
  position: absolute;
  top: 5px;
  left: 20%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#geobox {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#infobox {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index:5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

